Source: zero-lliurex-clientize
Section: admin
Priority: optional
Maintainer: Raul Rodrigo Segura <raurodse@gmail.com>
Build-Depends: debhelper (>=10), zero-dev,llxsrchelper
Standards-Version: 4.1.2
Homepage: http://lliurex.net

Package: zero-lliurex-clientize
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, zero-center, epi-gtk
Description: Zomando to install minimal client meta package
 This package distribute EPI file to install minimal client metapackage
